---
- name: list available modules
  shell: /bin/lsblk -dniro NAME | /bin/grep -v "sda\|xvda" | /usr/bin/awk '$0="/dev/"$0' | /usr/bin/sort -n
  register: volumes
  changed_when: no

- include: lvm.yml
  when: volumes.stdout_lines

- include: swapfile
